@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #000000;
  --point: #8906d5;
  --secondary: #222222;
  --border: #e4e4e4;
  --stroke: #b4b4b4;
  --sub-bg: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-point: var(--point);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-stroke: var(--stroke);
  --color-sub-bg: var(--sub-bg);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #ededed;
    --secondary: #b4b4b4;
    --border: #2a2a2a;
    --stroke: #404040;
    --sub-bg: #141414;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
